<h1><%= @chef.name %></h1>

<%= link_to "Ingredients I use", "/chefs/#{@chef.id}/ingredients" %>

<h2>My Favorite Ingredients:</h2>
<% @popular_ingredients.each do |ingredient| %>
  <p><%= ingredient.name %> (Used in <%= ingredient.dish_count %> dishes)</p>
<% end %>